<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_URL" value="http://lms.local"/>
        <env name="APP_DOMAIN" value="lms.local"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="BROADCAST_CONNECTION" value="null"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="DB_CONNECTION" value="pgsql"/>
        <env name="DB_HOST" value="127.0.0.1"/>
        <env name="DB_PORT" value="5432"/>
        <env name="DB_DATABASE" value="lms_test"/>
        <env name="DB_USERNAME" value="postgres"/>
        <env name="DB_PASSWORD" value="postgre"/>
        <env name="DB_URL" value=""/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="NIGHTWATCH_ENABLED" value="false"/>
        <env name="FEATURE_EMAIL_ENABLED" value="true"/>
        <env name="CLOUDFLARE_R2_ACCOUNT_ID" value="test-account-id"/>
        <env name="CLOUDFLARE_R2_ACCESS_KEY_ID" value="test-access-key"/>
        <env name="CLOUDFLARE_R2_SECRET_ACCESS_KEY" value="test-secret-key"/>
        <env name="CLOUDFLARE_R2_BUCKET" value="test-bucket"/>
    </php>
</phpunit>
